section#team-detail-header {
  width: 50%;

  margin: 20px auto;
  display: flex;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

section#team-detail-header article:first-child {
  flex: 1;
}

section#team-detail-header article:last-child {
  flex: 2;
}

section#team-detail-header div {
  margin: 5px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

section#team-detail-header .title {
  display: inline-block;
  width: 25%;
  background-color: #ddd;
  font-weight: bold;
  text-align: right;
}

section#team-detail-header .content {
  width: 25%;
  background-color: #ddd;
  font-weight: bold;
  text-align: right;
}

section#team-detail-header img {
  margin: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

section#team-detail-body {
  width: 50%;
  margin: 10px auto;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

section#team-button-box {
  width: 50%;
  margin: 10px auto;
  text-align: right;
}

section#team-button-box button {
  margin: 10px;
  padding: 10px 16px;
  border: 0;
  outline: 0;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
/* button.bbs-list */
section#team-button-box button:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

section#team-button-box button:nth-child(1) {
  background-color: orange;
}

section#team-button-box button:nth-child(2) {
  background-color: skyblue;
}

section#team-button-box button:nth-child(3) {
  background-color: violet;
}

h2 {
  text-align: center;
  color: violet;
}
