body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  overflow-x: hidden;
}

h1 {
  margin: 100px;
  text-align: center;
}

nav {
  width: 100%;
  display: flex;

  position: relative;
  background: linear-gradient(
    90deg,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#main-menu li {
  float: left;
  position: relative;
}

#main-menu li a {
  cursor: pointer;
  font-size: 0.85rem;
  color: rgba(255, 255, 255, 0.85);
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.05em;
  display: block;
  padding: 14px 36px;
}

h2 {
  text-align: center;
  color: skyblue;
}

#main-nav ul li:nth-child(5) {
  margin-left: auto;
}

form#write-form {
  width: 80%;
  margin: 10px auto;
}
form#write-form fieldset {
  border: 1px solid purple;
  border-radius: 10px;
}
form#write-form legend {
  color: purple;
  margin: 5px;
  padding: 5px;
}
form#write-form label {
  display: inline-block;
  width: 20%;
  padding: 4px;
  margin: 4px;
  color: purple;
  text-align: right;
  font-weight: bold;
}
form#write-form input {
  display: inline-block;
  width: 70%;
  padding: 4px;
  margin: 4px;
}
form#write-form textarea {
  width: 70%;
}

div.button-box {
  text-align: right;
}

form#write-form .button-box button {
  color: white;
  cursor: pointer;
  outline: 0;
  border: 0;
  padding: 10px 16px;
  margin: 5px;
  border-radius: 5px;
}

button:hover {
  box-shadow: 2px 2px 2px rbga(0, 0, 0, 0.5);
}
button#list {
  background-color: orange;
}
